#gpu => requires a newer torch version

#fuck below installation works with python 3.9.16
tqdm
requests
h5py
#this version of torch is too old for the gpu
# torch~=1.7.1
torch
torchvision
torchtext
pytorch_lightning
scikit-video
av
gradio
moviepy
imageio
gdown
testresources
deepspeed
matplotlib
numpy
triton==1.1.0

#below installation works with python 3.9.16
# tqdm
# requests
# h5py
# torch
# torchvision
# torchtext
# pytorch_lightning
# scikit-video
# av
# gradio
# moviepy
# imageio
# gdown
# testresources
# deepspeed
# matplotlib

